.testi{
    background-color: rgb(188, 177, 177);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border: 7px solid black ;
}
.testi h1{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}
.cart-container{
    display: flex;
    align-items: center;
   
}
.cart{
    display: flex;
    margin-top: 4rem;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    background-color: rgb(188, 177, 177);
    color: rgb(34, 28, 28);
}
.cart img{
    width: 30%;
   border-radius: 45%;
}
